all:
  children:
    managers:
      hosts:
%{ for i in managers ~}
        ${i.host}:
          ansible_host: ${i.nat_ip}
%{ endfor ~}
    workers:
      hosts:
%{ for i in workers ~}
        ${i.host}:
          ansible_host: ${i.nat_ip}
%{ endfor ~}
  vars:
    ansible_host_key_checking: false
    ansible_user: user
    ansible_become: true